<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>login</title>
</head>
<body>
<form action="/member/login" method="post">
  이메일: <input type="text" name="memberEmail"> <br>
  비밀번호: <input type="password" name="memberPassword"> <br>
  <input type="submit" value="로그인">
  <a href="https://kauth.kakao.com/oauth/authorize?client_id=7338375e54725825fcbef315481e6452
&redirect_uri=http://localhost:8082/auth/kakao/callback&response_type=code"><img height="38px" src="\image\kakao_login_button.png"/></a>
</form>
</body>
</html>